<div class="d-flex flex-row bd-highlight mb-3" >

    <div class="form-froup row" style = "width:50%;">
            <mat-form-field >
                <input matInput placeholder=" Name" [(ngModel)]="EmployeeName">
            </mat-form-field>
    
    
            
        <mat-form-field appearance="fill">
            <mat-label>Date of joining</mat-label>
            <input type="date" matInput  [(ngModel)]="DateOfJoining">
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+94 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" [(ngModel)]="PhoneNumber">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [(ngModel)]="EmailAddress"> 
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
    
        <mat-form-field >
            <input matInput placeholder="Position" [(ngModel)]="Position">
        </mat-form-field>
    
        <mat-form-field >
            <input matInput placeholder="Salary" [(ngModel)]="Salary">
        </mat-form-field>



        <div class="col-sm-10">
            <mat-label>Department Id</mat-label>
            <select class="form-control" [(ngModel)]="DepId" placeholder="Select the Department">
                <option>Select</option>
                <option *ngFor="let depId of DepartmentsList">
                    {{depId.DepartmentId}}
                </option>
            </select>
         </div>
    
    </div>
    <div class="ml-3 bd-highlight" style="width:40%; margin-left:50px; margin-top: 50px;">
    <img [src]=PhotoFilePath height="200px;" width="200px;">
    <input type="file"(change)="uploadPhoto($event)" class="mt-2"/>
    </div>
    </div>
    
    <button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">
        Add
    </button>
    
    <button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" class="btn btn-primary">
        Update
    </button>
    